.gradle/
*.iml
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.log

.idea/
*.iws
*.ipr

.DS_Store
Thumbs.db

*.kotlin_module

.idea/.name
.idea/modules.xml
.idea/libraries/
.idea/workspace.xml

.vscode/

node_modules/
